@import "file-upload.less";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  background: url(bg1.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  color: #000000;
  margin: 0;

}
h1 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
  font-size: 48px;
}

.container {
  background-color: white; /* White background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px 4px rgba(255.0, 255.0, 255.0, 0.8);
  // text-align: center;
  max-width: 600px;
  margin-bottom: 60px;

  margin: 0 auto;
  //margin-left: 20px;
  //margin-right: 20px;
  padding: 20px;
  //opacity: 0.8;
  font-size: 16px;
  line-height: 20px;
}

img.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

p {
  color: #333; /* Dark text color */
  margin-bottom: 20px;
}

.info {
  color: #000000; /* Purple text color */
  font-weight: bold;
}

.link {
  height: 60px;
  display: block;
  background-color: #000000; /* Purple background color */
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
  background-color: #000000; /* Darker purple on hover */
  color: #eee;
}

.seo {
  position: absolute;
  transform: translate(-99999px, -99999px);
}
.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.logo-container img {
  max-width: 250px;
  padding: 10px;

}

@media (max-width: 768px) {
  .logo-container {
    flex-direction: column;
  }
}


.main {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  min-height: 100%;
}


.donate {
  max-width: 300px;
  transform: scale(0.8);
}

.donate-container{

}
.donate.two {
  margin-left:30px;
}
@media screen and (max-width: 992px) {
  .donate {
    max-width: 100%;
  }
  .donate.two {
    margin-left:unset;
  }
  .donate-container{
    flex-direction: column;
    align-items: center;
  }
}

.hidden{
    display: none !important;
}

.nav a {
  font-size: 16px;
  padding: 8px 2px;
}
/*
.supp li {
  display: inline-block;
}*/

.preview-group {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 30px;
}